%div
  = simple_form_for(@photozou, url: :search_photozou, method: 'get') do |f|
    = f.input :keyword
    -#= f.input :entity, include_blank: false
    -#= f.input :limit, collection: 1..20, default: 1
    = f.button :submit
  - if @photozou.url
    %p
      api :
      = link_to @photozou.url, @photozou.url
%hr

%div
  - @results.each do |photo|
    %div
      - photo.each do |key, val|
        - if key == 'photo_title'
          %div.title
            = val
        - if key == 'image_url'
          %div.image
            = image_tag(val)
      %hr
