%div
  = simple_form_for(@itune, url: :search_itunes, method: 'get') do |f|
    = f.input :term
    = f.button :submit

%div
  - @results.each do |track|
    %div
      = track.each do |key, val|
        %p
          = "#{key} : #{val}"
      %hr
